@using TheClickerGame.Services.Services.ViewService
@inherits LayoutComponentBase
@inject IViewService ViewService

<NavMenu />

<main class="@(ViewService.WideView ? "container-fluid" : "container") my-4">
    @Body
</main>
