@page "/"
@inject IJSRuntime JsRuntime

<p>Do something really cool with javascript</p>
<button @onclick="@(async () => await JsRuntime.InvokeVoidAsync("DoSomethingReallyCool"))">Do something really cool</button>